<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<add key="StudyCenterOpeningTime" value="08:00 AM"/>
		<add key="StudyCenterClosingTime" value="06:00 PM"/>
		<add key="MaxPersonAge" value="60"/>
		<add key="MinPersonAge" value="18"/>
		<add key="DailyLectureDurationInHour" value="2.5"/>
		<add key="STTLectureDurationInHour" value="3"/>
		<add key="MWLectureDurationInHour" value="1.5"/>
	</appSettings>
</configuration>